<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rice Grain Classification</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <div class="container">

        <h2>Upload a Rice Grain Image</h2>

        <form action="/" method="post" enctype="multipart/form-data">
            <input type="file" name="file" class="file-upload">

            <button type="submit" class="btn">Predict Rice Type</button>
        </form>

        {% if prediction %}
            <h3 class="result">Prediction: {{ prediction }}</h3>

            {% if img_path %}
                <img src="{{ img_path }}" class="preview">
            {% endif %}
        {% endif %}

    </div>
</body>
</html>
